/* 
    Created on : 2017-10-16, 13:38:47
    Author     : Wbody <2903056737@qq.com>
*/
.line-label{
    word-break: keep-all;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.reset-v{
    padding-left: 0 !important;
    padding-right: 0 !important;
}
.reset-h{
    padding-top:  0 !important;
    padding-bottom:  0 !important;
}
.p-10{
    padding:10px;
}
.p-h-5{
      padding: 5px 0;
}
.overflow-hidden{
    overflow: hidden;
}
.Wlayer,.inlineWlayer{
    z-index: 1001;
    background-color: #eaeaea;
    opacity: 0.5;
    top: 0;
    height: 100%;
    width: 100%;
    position: fixed
}
.inline-Wlayer{
    top: auto;
    height: auto;
    width: auto;
    position: absolute;
}
.WlayerLabel{
    background-image: url("../images/loading.gif");
    background-repeat: no-repeat;
    background-position: center;
    z-index: 1002;
    top: 0;
    height: 100%;
    width: 100%;
    position: fixed
}
.inline-WlayerLabel{
    top: auto;
    height: auto;
    width: auto;
    position: absolute;
}